page-paciente {
  .botao{
    width: 98.5%;
    background-color: #3c8dbc;
  }
  .icone{
    margin-left: 3%;
  }
  .cor14{
    color: red;
  }
  .cor13{
    color: rgb(199, 230, 29);
  }
  .cor12{
    color: rgb(11, 141, 22);
  }
  .cor11{
   color: rgb(6, 90, 41);
  }

}
