page-paciente {
  .botao{
    width: 98.5%;
    background-color: #3c8dbc;
  }
  .icone{
    margin-left: 3%;
  }
  .cor14{
    color: red;
    font-size: 20px;
    font-weight: 700;
  }
  .cor13{
    color: rgb(223, 236, 40);
    font-size: 20px;
    font-weight: 700;
  }
  .cor12{
    color: rgb(11, 141, 22);
    font-size: 20px;
    font-weight: 700;
  }
  .cor11{
   color: rgb(6, 90, 41);
   font-size: 20px;
    font-weight: 700;
  }

}
