page-exame {

}

.teste{
  width: 357px;
  margin-left: -15px;
}

.cor14{
  color: red;
  font-size: 20px;
  font-weight: 700;
}
.cor13{
  color: #488aff;
  font-size: 20px;
  font-weight: 700;
}
.cor12{
  color: rgb(11, 141, 22);
  font-size: 20px;
  font-weight: 700;
}
.cor11{
 color: #00a7d0;
 font-size: 20px;
  font-weight: 700;
}
.fontes{
  font-size: 12px;
}
